body {
    position: relative;
    background-color: #01579b;
    margin:0;
}

.circulo{
    border-radius: 50%;
    width:400px;
    height: 400px;
    background-color: #b0bec5;
    border: 30px solid #607d8b;
    margin-left: 500px;
    position:relative;
    transform: translateY(100px);
}
.linea{
    width:100px;
    height: 400px;
    background-color: #607d8b;
    position: absolute;
    top:0;
    
}
.lin1{
    left:149px;
    transform: rotateZ(-45deg);
}
.lin2{
    right: 149px;
    transform: rotateZ(45deg);
}


.container {
    position: absolute;
    top: 13px;
    transition: top 500ms;
    animation: flotar 5s infinite;
    margin-left:40px;
}

.cabeza {
    width: 354px;
    height: 299px;
    border-radius: 123px 123px 68px 68px;
    position: absolute;
    top: 12px;
    left: 25px;
    box-sizing: border-box;
    opacity: 1;
    background: linear-gradient(rgb(170, 143, 128), rgb(200, 175, 155), rgb(200, 175, 155), rgb(170, 143, 128));
    border: solid 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, .2);
}

.ceja {
    position: absolute;
    top: 110px;
    border: none;
}

.ceja-izq {
    left: 25px;
}

.ceja-der {
    left: 240px;
    transform: rotateY(180deg);
}

.ceja path {
    fill: rgb(98, 81, 55);
}
.parpado{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 135px;
    border-radius: 50%;
    background-color: rgb(170, 143, 128);
    animation-name: parpadeo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.ojo {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 135px;
    border-radius: 50%;
    background-color: #000;
}

.ojo-izq,.parpado-izq {
    left: 40px;
}

.ojo-der,.parpado-der {
    left: 255px;
}

.pupila {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    left: 31px;
    background-color: white;
    border-radius: 50%;
    background: radial-gradient(white, rgba(236, 236, 236), rgba(230, 230, 230));
}

.oreja {
    width: 14px;
    height: 63px;
    position: absolute;
    top: 145px;
    border-radius: 0px 123px 128px 0px;
    background-color: rgb(200, 175, 155);
    z-index: 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    border: solid 3px #a1887f77;
}

.oreja-izq {
    left: -20px;
    transform: rotateZ(180deg);
}

.oreja-der {
    left: 352px
}

.nariz {
    border: solid 13px rgba(135, 101, 74, 1);
    width: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(135, 101, 74, 1);
    position: absolute;
    left: 168px;
    top: 195px;
    box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, .2);
}

.nariz-s {
    border-right: solid 4px rgba(135, 101, 74, 0.2);
    border-bottom: solid 14px rgba(135, 101, 74, 0.2);
    border-left: solid 4px transparent;
    border-top: solid 14px transparent;
    width: 0;
    background-color: transparent;
    position: absolute;
    top: 188px;
}

.nariz-s-izq {
    left: 172px;
}

.nariz-s-der {
    left: 182px;
    transform: rotateY(180deg);
}


.traje {
    background:linear-gradient(#558b2f, rgb(94, 120, 55));
    border-radius: 25px 25px 0 0;
    width: 142px;
    height: 96px;
    position: absolute;
    left: 132px;
    top: 310px;
}
.antebrazo{
    background:linear-gradient(#558b2f, rgb(94, 120, 55));
}

.camisa {
    border-top: 42px solid white;
    border-right: 16px solid white;
    border-bottom: 42px solid transparent;
    border-left: 16px solid transparent;
    width: 0;
    justify-content: center;
    position: absolute;
}

.cam-izq {
    left: 40px;
}

.cam-der {
    left: 70px;
    transform: rotateY(180deg);
}

.corbata-cir {
    width: 16px;
    height: 16px;
    border-radius: 40%;
    background-color: #000;
    border-bottom: solid 10px gray;
    position: absolute;
    top: 12px;
    left: 65px;
}

.corbata {
    width: 16px;
    height: 59px;
    border-radius: 30%;
    background-color: #000;
    position: absolute;
    top: 27px;
    left: 65px;
}

.silla {
    width: 220px;
    height: 252px;
    border-radius: 30%;
    background: linear-gradient(rgb(196, 152, 57),#ffd740);
    position: absolute;
    top: 400px;
    left: 95px;
    border: solid 1px black;
    box-shadow: #00000077 2px 2px 2px 2px;
}

.lateral {
    width: 48px;
    height: 142px;
    border-radius: 70% 0 0 70%;
    background: linear-gradient(rgb(196, 152, 57),#ffd740);
    position: absolute;
    top: 410px;
    border: solid 1px black;
}

.lateral-izq {
    left: 45px;
}

.lateral-der {
    left: 316px;
    transform: rotateZ(180deg);
}

.respaldo {
    background: linear-gradient(rgb(196, 152, 57), black, black);
    border-radius: 35px 35px 0 0;
    width: 220px;
    height: 155px;
    position: absolute;
    left: 95px;
    top: 315px;
    opacity: 1;
    z-index: -1;
}

.brazo {
    position: absolute;
    top: -3px;
    z-index: 2;
}

.brazo-izq {
    left: -24px;
}

.brazo-der {
    left: 120px;
    transform: rotateY(180deg);
}

.antebrazo {
    width: 49px;
    height: 95px;
    border-radius: 42%;
    background-color: rgb(94, 120, 55);
    border-bottom: solid 1px black;
    transform: rotateZ(45deg);
    transition: transform 500ms;
}

.manga {
    width: 36px;
    height: 29px;
    background-color: rgb(80, 99, 43);
    background: linear-gradient(rgb(94, 120, 55), rgb(80, 99, 43));
    position: absolute;
    transform: skew(12deg, 341deg);
    border-radius: 26%;
    top: 79px;
    left: 10px;

}

.mano {
    width: 30px;
    height: 56px;
    background-color: rgb(213, 179, 152);
    position: absolute;
    border-radius: 0 0 50% 50%;
    top: 24px;
    left: 0px;
}

.molde {
    opacity: 0;
}

.sombra {
    width: 0px;
    height: 0px;
    border-radius: 60%;
    box-shadow: #000000CC 40px 25px 45px 15px;
    background: radial-gradient(black, gray);
    position: absolute;
    left: 195px;
    animation: sombra-flotar 5s infinite;
}

.antebrazo:hover {
    transform: rotateZ(180deg);
}
.suelo{
    width: 100%;
    height: 47px;
    position: absolute;
    top: 100%;
    background-color: #b0bec5;
    top: 675px;
}
.ondas{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -250px;
    border-radius: 50%;
    opacity:0;
    transition: all 2s 1s;
    
}
.ondas-izq{
    left:75px;
}
.ondas-der{
    left:80px;
}

.antebrazo:hover ~ .ondas{
    opacity:.8;
    transform: scale(5);
    background: radial-gradient(circle,#9575cd ,#673ab701,#9575cd);
}
@keyframes flotar {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes sombra-flotar {
    0% {
        box-shadow: #000000CC 40px 25px 15px 15px;
        width: 20;
    }

    50% {
        box-shadow: #000000CC 10px 25px 20px 20px;
        width: 50px;
    }

    100% {
        box-shadow: #000000CC 40px 25px 15px 15px;
        width: 0;
    }
}

@keyframes parpadeo {
    0% {
        width: 64px;
        height: 0px;
        border-radius: 100% 100% 0 0;
        border: solid 1px;
    }
    1%{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: solid 1px;
    }
    3%{
        width: 64px;
        height: 0px;
        border-radius: 50%;
        border: none;
    }
    100%{
        width: 0px;
        height: 0px;
        border-radius: 50%;
        border: none;
    }
}