html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 57, 121);
}

.pokemons {
    display: flex;
}

.div-one {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(92, 192, 250);
}

.pokemon-one {
    background-repeat: no-repeat;
    background-image: url('./piplup.png');
    background-size: contain;
    width: 150px;
    height: 200px;
    margin-top: 120px
}

.div-two {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 150, 92);
}

.pokemon-two {
    background-repeat: no-repeat;
    background-image: url('./charmander.png');
    background-size: contain;
    width: 150px;
    height: 200px;
    margin-top: 120px
}

.div-three {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(147, 92, 250);
}

.pokemon-three {
    background-repeat: no-repeat;
    background-image: url('./machop.png');
    background-size: contain;
    width: 150px;
    height: 200px;
    margin-top: 25px
}

.div-four {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 213, 92);
}

.pokemon-four {
    background-repeat: no-repeat;
    background-image: url('./pidgey.png');
    background-size: contain;
    width: 150px;
    height: 200px;
    margin-top: 120px
}

.div-five {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(92, 95, 250);
}

.pokemon-five {
    background-repeat: no-repeat;
    background-image: url('./poliwag.png');
    background-size: contain;
    width: 250px;
    height: 300px;
    margin-top: 120px
}

@media screen and (min-width: 40em) {
    .pokemon-one {
      transform: scale(2);
    }
  
    .pokemon-one {
      background-image: url('./prinplup.png');
    }

    .div-one {
        background-color: rgb(0, 130, 206);
    }

    .pokemon-two {
        transform: scale(2);
    }
    
    .pokemon-two {
        background-image: url('./charmeleon.png');
    }
  
    .div-two {
          background-color: rgb(206, 100, 0);
    }

    .pokemon-three {
        transform: scale(2);
    }
    
    .pokemon-three {
        background-image: url('./machoke.png');
    }
  
    .div-three {
          background-color: rgb(55, 0, 206);
    }

    .pokemon-four {
        transform: scale(2);
    }
    
    .pokemon-four {
        background-image: url('./pidgeotto.png');
    }
  
    .div-four {
          background-color: rgb(206, 151, 0);
    }

    .pokemon-five {
        transform: scale(1.5);
    }
    
    .pokemon-five {
        background-image: url('./poliwhirl.png');
    }
  
    .div-five {
          background-color: rgb(0, 65, 206);
    }
}

@media screen and (min-width: 64em) {
    .pokemon-one {
        transform: scale(3);
    }
    
    .pokemon-one {
        background-image: url('./empoleon.png');
    }
  
    .div-one {
          background-color: rgb(0, 76, 121);
    }

    .pokemon-two {
        transform: scale(3);
    }
    
    .pokemon-two {
        background-image: url('./charizard.png');
    }
  
    .div-two {
        background-color: rgb(121, 28, 0);
    }

    .pokemon-three {
        transform: scale(2.5);
    }
    
    .pokemon-three {
        background-image: url('./machamp.png');
    }
  
    .div-three {
        background-color: rgb(26, 0, 121);
    }

    .pokemon-four {
        transform: scale(3);
    }
    
    .pokemon-four {
        background-image: url('./pidgeot.png');
    }
  
    .div-four {
        background-color: rgb(121, 89, 0);
    }

    .pokemon-five {
        transform: scale(2);
    }
    
    .pokemon-five {
        background-image: url('./poliwrath.png');
    }
  
    .div-five {
        background-color: rgb(0, 57, 121);
    }
}