html, 
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #dedede linear-gradient(#dedede, #dedede, #fff);
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    color: #0f2967;
}

.header {
    width: 100%;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



form {
    margin: auto;
    width: 50%;
    display: flex;
    max-width: 500px;;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

textare {
    width: 150px;
    height: 50px;

}

form label {
    display: block;
}

form input {
    width: 100%;
}

form input[type = text] {
    width: 100px;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-radius: 5%;
    box-sizing: border-box;
}

form input[type = checkbox] {
    border: solid 1px;
    outline: none;
    width: 100px;
}

form select {
     width: 100px;
    padding: 10px 10px 10px 10px;
    outline: none;
    border-radius: 5%;
    box-sizing: border-box;
}

.accept {
    width: 200px;
    background: #0f2967 linear-gradient(#0f2967, #133779);
    border: #0f2967 solid 1px;
    outline: none;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    box-shadow: 5px 10px 6px 1px grey;
    margin-bottom: 10px;

}

.accept:hover {
    cursor: pointer;
}
 .circle {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: center;
 }

.circle1, .circle2, .circle3 { 
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #0f2967;
}

.circle1, .circle2, .circle3 {
    background-color: #0f2967;
}


.footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #0f2967 linear-gradient(#0f2967, #133779);

}

.footer p {
    color: #fff;
}