@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.white {
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.content .input select, .content .input input{
    display: block;
}
h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
    padding: 5px;
    color: #0F358E;
}
p {
    padding: 0;
}
.bts-logo {
    height: 2em;
}
.white-logo {
    padding: 10px;
}
.content .input, .content .check {
    padding: 1em;
    font-size: .6em;
    width: 220px;
    text-align: center;
}
::placeholder {
    font-size: .8em;
    color: #B4B4B4;
}
.content .input:first-child {
    padding-top: 0;
}
/*.content label {
    font-weight: bold;
}*/
.content .input input,  .content .input select{
    padding: .4em 0 .4em 1em;
    width: 100%;
    margin: 0;
    margin-top: .3em;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
}
.content .input select {
    width: 107%;
}
.next {
    width: 125px;
    color: white;
    background: linear-gradient(135deg, #14347A, #092157);
    font-size: .6em;
    padding: 1em;
    border-radius: 2px;
    border: 0;
    margin-bottom: 10em;
    box-shadow: 10px 20px 40px #14347A;
}




footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(135deg, #14347A, #092157 76%, #14347A 75%);
    justify-content: space-around;
    align-items: center;
    padding: .2em 0;
    color: white;
    min-height: 10%;
}

.networks > ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.networks > ul > li {
    list-style: none;
    padding: 0 5px;
}
footer .rights {
    font-size: .6em;
    font-weight: lighter;
}
.networks .network {
    height: 1em;
}









