.next {
  margin-top: 75px; 
}

.circle:nth-of-type(2) {
  background-color: blue;
}

.buttons {
  display: flex;
  justify-content: center;
}

.back {
  width: 50px;
  align-self: flex-end;
  border: none;
  background: none;
  margin-right: 10px; 
}