body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.panelIzquierdo, main{
    width: 50%;
    background: #1da1f2
}
.panelDerecho{
    width: 50%;
    display: block;
}
h1{
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 124px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: max-content;
    margin-left: 30%;
   
}
h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom:48px;
    color:#ffffff;
    width: max-content;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    color: #ffffff;
    list-style: none;
}

.titulo{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    width: max-content;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    font-size: 14px;
    line-height: 20px;
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
}
.h1Dercho{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 25%;
    margin-top: 162px;
}
.h2Titulo{
    color: black;
    margin-left: 25%;
    margin-top: 60px;
}
a{
    text-decoration: none;
    border-radius:100px;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 150px;
    text-align: center;
    white-space: nowrap;
    margin-left: 25%;
    margin-bottom: 20px;
  
}
.first{
    background-color: #1da1f2;
    color: #ffffff;
    
}
.second{
    border: 1px solid  #1da1f2;
    color: #1da1f2;
    
    
}
i{
    color: #1da1f2
}
