* {
    font-family: 'Open Sans';
    text-align: center
}

body {
    background-color: #eceff1;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #263238;
    padding: 10px 0 10px 0;
}

nav * {
    color: #fafafa;
    text-decoration: none;
}

nav a {
    padding: 0px 20px 0px 20px;
}

ul {
    list-style: none;
}

aside {
    background-color: #b0bec5;
    padding: 7px;
}

footer {
    background-color: #263238;
    color: #fafafa;
    padding: 10px;
}

.nota {
    text-align: justify;
    padding: 5px 15px 5px 15px;
    width: 500px;
}

article {
    margin-left: 34%;
}

article p {
    border: 1px solid black;
    text-shadow: 1px 1px 1px #00000077;
    box-shadow: 1px 1px 3px black;
}

em {
    text-shadow: 4px 4px 5px #004d4077;
    color: #455a64;
}

aside cite {
    text-shadow: 1px 1px 2px #004d4077;
}

aside p {
    font-weight: bold;
}