#div {
    display: flex;
    min-height: 450px;
    flex-flow: row;
    background-color: whitesmoke;
}

#header, #footer {
    display: block;
    
    height: 100px;
    
    background-color: rgb(156, 203, 63);
    
}

#div > #nav {
    background-color: rgb(245, 245, 221);
    flex: 1 6 20%;
    order: 1;
}

#div > #article {
    background-color: rgb(255, 255, 255);
    flex: 3 1 60%;
    order: 2;
}

#div > #aside {
    background-color: rgb(245, 245, 221);
    flex: 1 6 20%;
    order: 3;
}