body{
    text-align: center;
    font-weight: bold;
}
header{
    background-color: lightgreen;
    align-self: flex-start;
    width: 100%;
    height: 110px;
}
.main{
    display: flex;
    flex-direction: row;
    height: 420px;
}
nav{
    flex-grow:1;
    background-color: beige;
}
article{
    flex-grow:3;
}
aside{
    flex-grow:1;
    background-color:beige;
}
footer{
    background-color: lightgreen;
    align-self: flex-end;
    height: 110px;
}