h1 {
    text-shadow: 2px 2px #ff0000;
    padding-inline: center;
    text-align: center;
    font-size: 70px;
    color: black;
    background: black;
}
body {
    background-color: darkslategrey;
}