h1 {
    
    border: 5px solid fuchsia;
    text-shadow: 6px 9px 15px red;
    text-align: center;
    font-size: 70px;
    color: white;
    background: black;
    padding-top: 150px;
    
    font-family: fantasy;
    padding: 10%;
}
body {
    background-color: darkslategrey;
    padding-left: 10%;
    padding-right: 10%;
}