*{
    border: 0;
    margin: 0;
    box-sizing: border-box;    
}
main{
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
    height: 600px;
    border: 1px solid blue;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
}
div{
    background: yellow;
}
.first{
    grid-row-start: 1;
}
.second{
    grid-row-start: 2;
}
.third{
    grid-row-start: 3;
}