.container{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(10, 10%);
    height: 1000px;
    grid-gap: 10px 20px;
}
.container div{
    padding: 10px;
}
.item-1{

    grid-row: span 1;
}
.item-2{
grid-row: span 2;
}
.item-3{
grid-row: span 3;
}
.purpel{
    background-color: purple;
}
.blue{
    background-color: cornflowerblue;
}
.yellow{
    background-color: goldenrod;
}

.red{
    background-color: firebrick;
}
.green{
    background-color: limegreen;
}