.grid {
    margin: 50px 20px 0px 20px;
}

/* First column */
.container {
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 13px;
}

.insider11 { 
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid 2px green;
    height: 200px;
    width: 80%;
}   
.insider12 { 
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid 2px green;
    height: 120px;
    width: 80%;
}   
.insider13 { 
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid 2px green;
    height: 350px;
    width: 80%;
}   

.insider21 { 
     grid-column-start: 2;
    grid-column-end: 2;
    border: solid 2px green;
    height: 200px;
    width: 80%;
}   
.insider22 { 
     grid-column-start: 2;
    grid-column-end: 2;
    border: solid 2px green;
    height: 120px;
    width: 80%;
}   
.insider23 { 
     grid-column-start: 2;
    grid-column-end: 2;
    border: solid 2px green;
    height: 350px;
    width: 80%;
}   
