@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
html{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.neon{
    position: relative;
    color:skyblue;
    font-family: 'Schoolbell', 'Gloria Hallelujah', 'Changa', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 20px rgb(5, 5, 75), -4px -4px 20px rgb(5, 5, 75) ,
    2px 2px 10px darkblue, -2px -2px 10px darkblue,
    1px 1px 4px skyblue, -1px -1px 4px skyblue;
    animation: light-change 10s infinite, move 20s infinite ease-out;
}
@keyframes light-change{
    0%{
        color:skyblue;
        text-shadow: 4px 4px 20px rgb(5, 5, 75), -4px -4px 20px rgb(5, 5, 75) ,
        2px 2px 10px darkblue, -2px -2px 10px darkblue,
        1px 1px 4px skyblue, -1px -1px 4px skyblue;
    }
    40%{
        color: darkblue;
        text-shadow: 4px 4px 20px rgb(0, 0, 10), -4px -4px 20px rgb(0, 0, 10) ,
        2px 2px 10px rgb(2, 2, 31), -2px -2px 10px rgb(2, 2, 31),
        1px 1px 4px rgb(5, 5, 75), -1px -1px 4px rgb(5, 5, 75);
    }
    60%{
        color:skyblue;
        text-shadow: 4px 4px 20px rgb(5, 5, 75), -4px -4px 20px rgb(5, 5, 75) ,
        2px 2px 10px darkblue, -2px -2px 10px darkblue,
        1px 1px 4px skyblue, -1px -1px 4px skyblue;
    }
    100%{
        color:skyblue;
        text-shadow: 4px 4px 20px rgb(5, 5, 75), -4px -4px 20px rgb(5, 5, 75) ,
        2px 2px 10px darkblue, -2px -2px 10px darkblue,
        1px 1px 4px skyblue, -1px -1px 4px skyblue;
    }
}
@keyframes move{
    0%{
        top: 50%;
    }
    25%{
        top: 90%;
    }
    50%{
        top: 50%;
    }
    75%{
        top: 0;
    }
    100%{
        top: 50%;
    }
}