*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
}
header{
    height: 82px;
    background: linear-gradient(to top, #3b5998, #4d68a2);
    display: flex;
}
header #head1{
    flex: 1;
}
header #head2{
    flex: 1;
    align-self: center;
    line-height: 22px;
}
#head2 form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px
}
form fieldset{
    display: flex;
    flex-direction: column;
}
form #user{
    align-self: flex-start;
}
form input[type="text"]{
    border: 1px solid #1d2a5b;
    width: 150px;
    height: 24px;
}
form input[type="submit"]{
    border: 1px solid #29487d;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
    background: #4267b2;
}
form input[type="submit"]:hover{
    background: #365899;
}
form label{
    color: white;
}
form a{
    color: #9cabc5;
}
#head1{
    align-self: center;
}
#head1 h1{
    color: white;
    font-size: 38px;
    padding-left: 15%;
}
main{
    height: 626px;
    background: linear-gradient(to bottom, white, #d3d8e8);
    display: flex;
    flex-direction: row;
    justify-content: 100%;
}
footer{
    padding: 20px 80px 20px 80px;
    height: 110px;
    background: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#left{
    flex: 11;
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 0 45px;
}
#right a{
    color: #385898;
}
#right{
    flex: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1d2129;
}
#registrar{
    width: 195px;
    height: 40px;
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
#registrar:hover{
    background: linear-gradient(#7fc56e, #578843);
}
#left p{
    width: 450px;
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    word-spacing: -1px;
}
footer #languages{
    border-bottom: 1px solid #dddfe2;
    word-spacing: 5px;
}
#navs a{
    line-height: 18px;
    padding-right: 17px;
}
#languages button{
    width: 32px;
    height: 20px;
    color: #737373;
    border: 1px solid #ccd0d5;
    background: #f3f5f9;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
footer nav{
    font-size: 12px;
    padding: 10px 0 10px 0;
}
footer a{
    color: #385898;
}
footer section{
    color: #737373;
    font-size: 11px;
    padding: 10px 0 10px 0;
}
#sex label{
    color: #1d2129;
    font-size: 18px;
    line-height: 18px;
}
#policies{
    margin-top: 10px;
    width: 82%;
    color: #737373;
    font-size: 11px;
}
#info{
    margin-top: 20px;
    font-weight: bold;
    color: #737373;
    font-size: 13px;
}
#right h1{
    font-size: 36px;
}
#right h2{
    font-size: 19px;
    font-weight: normal;
}
#right form{
    width: 400px;
}
#inputs{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
}
#inputs input{
    margin: 5px;
    height: 38px;
    width: 100%;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
}
#inputs input::placeholder{
    color: #99a7c7;
    font-size: 16px;
}
#fullname{
    display: flex;
    flex-direction: row;
}
#right form .heads{
    color: #90949c;
    font-weight: bold;
    padding: 5px 0 10px 0;
}
#sex section span{
    display: inline;
    padding: 10px;
}
#right .help{
    padding: 0;
    height: 14px;
    width: 14px;
    font-size: 12px;
    color: white;
    background-color: #606770;
    border-radius: 50%;
    cursor: pointer;
}
#birth select{
    padding: 5px;
}
input[type="text"]{
    padding: 10px;
}
input[type="password"]{
    padding: 10px;
}