*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
header{
    height: 82px;
    border: 1px solid blue;
}
main{
    height: 626px;
    border: 1px solid green;
    display: flex;
}
footer{
    height: 150px;
    border: 1px solid red;
    margin-bottom: 20px;
}
#left{
    border: 1px solid orange;
}
:right{
    border: 1px solid palevioletred;
}