html,
body {
  margin: 0;
}

.container {
  width: 73vw;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  height: 100%;
}

::placeholder {
  color: #90949c;
}

/* Header */
.flex-header {
  align-items: flex-end;
  justify-content: space-between;
}

header {
  height: 13vh;
  background: linear-gradient(#4d69a2, #3b5998);
}

header .container {
  height: 100%;
}

header img,
header .form-container {
  margin-bottom: 10px;
}

header img {
  width: 170px;
  margin-bottom: 15px;
}

header .form-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  width: 50%;
}

header .log-in-form {
  justify-content: flex-end;
}

header .log-in-form div + div {
  padding-left: 14px;
}

header .log-in-form input {
  border: 1px solid #1d2a5b;
  padding: 3px 3px 4px 3px;
}

header .log-in-form label,
header .log-in-form a {
  display: block;
}

header .log-in-form label {
  padding-bottom: 4px;
}

header .log-in-form a {
  color: #9cb4d8;
  padding-top: 5px;
  text-decoration: none;
}

header .log-in-form button {
  margin-left: 14px;
  background-color: #4267b2;
  border: 1px solid #29487d; 
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  text-align: center;
  line-height: 18px;
  height: 50%;
  align-self: center;
}

/* Main */
main.main-container {
  /* height: 75vh; */
  background-color: #edf0f5;
  font-family: "Segoe UI",  Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

.features-section {
  width: 58%;
  height: 100%;
  padding: 20px 0 40px;
}

.features-wrapper {
  width: 565px;
}

.features-wrapper h2 {
  margin: 0;
  padding: 42px 0 24px;
  font-size: 28px;
  line-height: 36px;
}

.features-section .image-wrapper {
  margin-right: 16px;
}

.features-wrapper ul {
  padding: 0;
  margin: 0;
}

.features-wrapper ul li {
  margin-top: 14px;
  padding-bottom: 10px;
  list-style: none;
  display: flex;
}

.signup-section {
  width: 42%;
  height: 100%;
  padding: 20px 0 40px;
}

.signup-wrapper h1{
  font-size: 36px;
  margin: 0;
  margin-bottom: 5px;
}

.signup-wrapper h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
}

.sign-up-form h4 {
  font-size: 16px;
  font-weight: bold;
  color: #90949c;
  margin: 10px 0 5px;
}

.sign-up-form {
  width: 100%;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"] {
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.sign-up-form [name="f_name"],
.sign-up-form [name="l_name"] {
  width: 45%;
}

.sign-up-form [name="phone_email"],
.sign-up-form [name="s_password"] {
  box-sizing: border-box;
  width: 100%;
}

.sign-up-form .name-container input + input {
  margin-left: 8px;
}

.sign-up-form .email-pass-container {
  width: 100%;
}

.sign-up-form select {
  font-size: 13px;
  height: 30px;
  padding: 5px;
}

.sign-up-form select:nth-of-type(2) {
  margin-left: -5px;
}

.sign-up-form select:last-of-type {
  margin-left: -4px;
}

.question-mark {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #606770;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 2px 8px;
}

.sign-up-form .gender-wrapper .radio-wrapper {
  padding: 5px 0 5px 4px;
  margin-right: 4px;
}

.radio-wrapper input[type="radio"] {
  margin: 3px 3px 0 5px;
}

.sign-up-form .gender-wrapper label {
  font-size: 18px;
  color: #1d2129;
  padding-left: 3px;
  padding-right: 10px;
}

.sign-up-form .legal-terms {
  width: 316px;
  color: #777;
  font-size: 11px;
  margin: 11px 0;
}

.sign-up-form .legal-terms a {
  color: #385898;
  text-decoration: none;
}

.sign-up-form .signup-submit {
  font-size: 19px;
  font-weight: bold;
  margin: 10px 0;
  width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: #fff;
  border-radius: 5px;

  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  border-width: 1px;
  border-style: solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
}

.sign-up-form .public-page {
  margin-top: 10px;
  padding-top: 15px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  border-top: 1px solid #dddfe2;
}

.sign-up-form .public-page a {
  color: #385898;
  text-decoration: none;
}

/* Footer */
footer {
  height: 12vh;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 90px;
}

.languages-container ul {
  align-items: center;
  padding: 0;
  margin: 0;
}

.languages-container ul li {
  list-style: none;
  height: auto;
}

.languages-container ul li + li {
  padding-left: 10px;
}

.languages-container a.current {
  color: #737373;
}

.languages-container a {
  color: #385898;
  text-decoration: none;
}

.languages-container .plus-button {
  height: 18px;
  line-height: 18px;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  color: #4b4f56;
  padding: 0 8px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

footer .separator {
  height: 8px;
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 8px;
}

.options-container ul {
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
}

.options-container ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.options-container a {
  color: #385898;
  text-decoration: none;
}

footer .legal {
  font-size: 11px;
  margin: 20px 0;
  color: #737373;
}