html, body { width: 100%; height: 100%; margin: 0; padding: 0; }

header {
  width: 100%; height: 12.5%;
  background: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
}

header img { 
  height: 40%; 
  margin: 30px 0 0 184px; 
}

.log {
  width: 376px;
  float: right;
  margin-right: 200px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 12px;
}

.log input {
  width: 146px;
  height: 18px;
  border: 1px solid black;
  margin-right: 14px;
  margin-top: 5px;
}

.data {
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.log button {
  width: 48px;
  height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  align-self: center;
  color: white;
  background: #4e69a2;
  border-radius: 3px;
  border: 1px solid #29487D;
}

.forgot {
  color: #9cb4d8;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

footer li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

footer li > a {
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 67%;
}

.lang, .other {
  margin-left: 184px;
}

main {
  height: 70%;
  background: #EDF0F5;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  padding-left: 184px;
  padding-top: 40px;
}

.right {
  display: grid;
  padding-right: 120px; 
  padding-left: 80px;
  padding-top: 10px; 
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

footer {
  height: 12.5%;
}

.lang button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 30px;
  height: 18px;
  padding: 0;
}

main ul li {
  width: 100%;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  list-style: none;
  padding-left: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 0; margin: 0;
}

.paper img { width: 50px; height: 50px;}
.favorite img { width: 50px; height: 50px; }
.connect img { width: 50px; height: 50px; }

.right h3 { margin: 0; padding: 0; grid-area: 2 / 1 / 3 / 2; }
.first { grid-area: 3 / 1 / 4 / 2; }
.last { grid-area: 3 / 2 / 4 / 3; }
.email { grid-area: 4 / 1 / 5 / 3; }
.pass { grid-area: 5 / 1 / 6 / 3; }
.bd { grid-area: 6 / 1 / 7 / 3; }
.bdd { grid-area: 7 / 1 / 8 / 2; }
.gen { grid-area: 8 / 1 / 9 / 3; }
.gend { grid-area: 9 / 1 / 10 / 3; }
p { grid-area: 10 / 1 / 11 / 3; }
.right button { grid-area: 11 / 1 / 12 / 2; }