body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('./pinguinos.jpg');
    transition-property: unset
}

.menton {
    width: 52px;
    height: 317px;
    -moz-border-radius: 43%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #d6d6d6;
    -webkit-box-shadow: 30px 10px 0 rgb(243, 243, 236);
    box-shadow: 91px -17px 0 rgb(243, 243, 236);
    position: absolute;
    z-index: 1;
    margin: -9% 0% 0% 42%;
    transform: rotate(91deg);
}

.ovalo-pico {
    width: 98px;
    height: 38px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: radial-gradient(yellow -87%, #ffa631 67%, transparent);
    position: absolute;
    margin: 39% 0% 0% 41%;
    z-index: 3;
}

.black-head {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 0px;
    border-bottom: 560px solid transparent;
    background: black;
    box-shadow: 10px 7px 7px black;
    border-radius: 40% 40% 23% 23% / 160% 160% 23% 23%;
}

.white-head {
    width: 190px;
    height: 165px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 43%;
    background: white;
    position: absolute;
    margin: auto;
    margin: 5% 0% 0% 13%;
}

.white-head-dos {
    width: 190px;
    height: 165px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 43%;
    background: white;
    /* padding: 10% 10% 10%; */
    position: absolute;
    margin: 5% 0% 0% 45%;
}

.ovalo-head {
    width: 274px;
     height: 113px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: white;
     position: absolute;
     transform: rotate(50deg);
     margin: 46% 0%;
}

.ovalo-head-dos {
    width: 274px;
     height: 113px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: white;
     position: absolute;
     transform: rotate(130deg);
     margin: 46% 0% 0% 41%;
}

.ojo-uno {
    width: 75px;
    height: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    position: absolute;
    margin: auto;
    margin: 38% 0% 0% -59%;
    transform: rotate(340deg);
}

.ojo-dos {
    width: 75px;
    height: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: black;
    position: absolute;
    margin: auto;
    margin: 38% 0% 0% 46%;
    transform: rotate(340deg);
}

.brillo {
    width: 22px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 2550, 0.5);
    box-shadow: 0 0 19px 5px white;
    position: relative;
    margin: 26% 0% 0% 48%;
}

.brillo-dos {
    width: 22px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 2550, 0.5);
    box-shadow: 0 0 19px 5px white;
    position: relative;
    margin: 26% 0% 0% 48%;
}

.white-body {
    margin-top: 25px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 0px;
    border-bottom: 337px solid white;
    border-radius: 54% 54% 23% 23% / 290% 290% 25% 25%;
    margin: 47% 0% 0% 6%
}

.aleta {
position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 95px;
    border-right: 19px solid transparent;
    border-left: 69px solid transparent;
    background-color: black;
    border-bottom: 193px solid transparent;
    border-radius: 0 104% / 0 104%;
    margin: 46% 0% 0% -23%;
    transform: rotate(48deg);
}

.aleta-dos {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 20px;
    height: 55px;
    border-right: 28px solid transparent;
    border-left: 52px solid transparent;
    background-color: black;
    border-bottom: 170px solid transparent;
    border-radius: 0 104% / 0 104%;
    margin: 44% 0% 0% 101%;
    transform: rotate(160deg);
}

.aleta-dos-saludo {
    width: 105px;
    height: 34px;
    border-right: 1px solid transparent;
    border-left: 35px solid transparent;
    background-color: black;
    border-bottom: 120px solid transparent;
    position: absolute;
    border-radius: 0 104% / 0 103%;
    margin: 89% 0% 0% 131%;
    transform-origin: 0 0;
    transform: rotate(217deg);
}

.pata {
    border-radius: 15%;
    width: 92px;
    height: 59px;
    background: radial-gradient(#ffa631,  #ffa631, #ffa631, rgb(126, 61, 1));
    position: absolute;
    margin: 127% 0% 0% 2%;
    transform: rotate(185deg);
}

.triangulo-redondeado,
.triangulo-redondeado:before,
.triangulo-redondeado:after {
  position: relative;
  display:block;
    width:  44px;
    height: 45px;
    background-color: #ffa631;
    /* background: radial-gradient(rgb(255, 81, 0) 65%, rgb(100, 87, 63)); */
    border-top-right-radius: 20px;
}
.triangulo-redondeado {
  margin: 60px auto 0 auto;
  transform: rotate(-68deg) skewX(-30deg) scale(1,.866);
}
.triangulo-redondeado:before,
.triangulo-redondeado:after {
    content: '';
    position: absolute;
}
.triangulo-redondeado:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangulo-redondeado:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
} 

.triangulo {
    margin: 134% 0% 0% 9%;
    position: absolute;
    transform: rotate(116deg);
}

.triangulo-dos {
    margin: 137% 0% 0% 19%;
    position: absolute;
    transform: rotate(140deg);
}

.triangulo-tres {
    margin: 135% 0% 0% 0%;
    position: absolute;
    transform: rotate(158deg);
}

.pata-uno {
    position: relative;
    margin: 0% 0% 0% 4.5%;
    transform: rotate(-5deg);
}

.pata-dos {
    position: relative;
    margin: 3% 0% 0% 4.5%;
    transform: rotate(-5deg);
    padding: 4% 0% 0% 42%;

}

.segunda-pata {
    border-radius: 15%;
    width: 92px;
    height: 59px;
    background: radial-gradient(#ffa631,  #ffa631, #ffa631, rgb(126, 61, 1));
    position: absolute;
    margin: 127% 0% 0% 2%;
    transform: rotate(185deg);
}

.triangulo-pata-dos {
    margin: 124% 0% 0% 17%;
    position: absolute;
    transform: rotate(42deg);
}

.triangulo-dos-pata-dos {
    margin: 134% 0% 0% 25%;
    position: absolute;
    transform: rotate(128deg);
}

.triangulo-tres-pata-tres {
    margin: 135% 1% 0% 8%;
    position: absolute;
    transform: rotate(134deg);
}

.media-luna-uno {
    width: 62px;
    height: 154px;
    -moz-border-radius: 43%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #ff8331;
    -webkit-box-shadow: 30px 10px 0 #ff8331;
    box-shadow: 32px -11px 0 #ffa631;
    position: absolute;
    z-index: 3;
    margin: 17% 0% 0% 27%;
    transform: rotate(91deg);
}

.media-luna-dos {
    width: 70px;
    height: 152px;
    -moz-border-radius: 43%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #ff8331;
    -webkit-box-shadow: 30px 10px 0 #ff8331;
    box-shadow: 32px 11px 0 #ffa631;
    position: absolute;
    z-index: 3;
    margin: 17% 0% 0% 60%;
    transform: rotate(92deg);
}




@keyframes stretch {
    0% {
      background-color: gray;
    }
    50% {
      background-color: rgb(142, 207, 238);
    }
    100% {
      /* transform: scale(1.5); */
      background-color: gray;
    }
  }

  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(150px, 0);
    }
    
    80% {
      transform: translate(-150px, 0);
    }
  }

  .main-container {
    border: solid 1px transparent;
    animation: nudge 5s ease-in 2s 2 alternate;
  }

  @keyframes parpadeo {
    0% {
      transform: scaleY(0);
    }
  
    5% {
      transform: scaleY(1);
    }
  }

  @keyframes saludo {
    0% {
        transform: rotate(205deg);
    }

    20% {
        transform: rotate(212deg);
      }
  
    50% {
      transform: rotate(222deg);
    }

    50% {
        transform: rotate(212deg);
    }

    100% {
        transform: rotate(205deg)
    }
  }

  .ojo-uno, .ojo-dos {
    animation: parpadeo 5s infinite both 
  }

  .aleta-dos-saludo {
      animation: saludo 1s infinite 12s both,
      stretch 2s ease-out 2s alternate 3 running
  }

  .black-head, .aleta, .aleta-dos {
    animation: stretch 2s ease-out 2s alternate 3 running;
}



