/*System properties*/
*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    border: 1px solid green;
}
body{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}
main{
    width: 450px;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*transform: scaleY(0.5);*/
}
/*Head properties*/
.head{
    position: relative;
    bottom: 388px;
    height: 200px;
    width: 220px;
    z-index: 2;
    background: radial-gradient(rgb(20, 9, 49),black 70%, black 100%);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.face{
    /*border: 1px solid pink;*/
    height: 110px;
    width: 80%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    justify-content: space-between;
}
.eyes{
    position: relative;
    width: 48px;
    height: 48px;
    bottom: 0;
    border-radius: 50%;
    background: yellow;
    box-shadow: 0 0 14px yellow;
}
.ear1 .bottom-ear{
    position: relative;
    right: 27px;
    top: 160px;
    width: 0; 
    height: 0; 
    border-left: 120px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 60px solid black;
    z-index: 2;
    transform: rotate(94deg);
}
.ear2 .bottom-ear{
    position: relative;
    bottom: 112px;
    left: 123px;
    width: 0; 
    height: 0; 
    border-left: 120px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 60px solid black;
    z-index: 2;
    transform: rotate(86deg) rotateX(-180deg);
}
.ear1 .bottom-ear2{
    position: relative;
    left: 4px;
    top: 135px;
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 49px solid transparent;
    border-bottom: 15px solid black;
    z-index: 2;
    transform: rotate(226deg);
}
.ear2 .bottom-ear2{
    position: relative;
    left: 133px;
    bottom: 142px;
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 15px solid black;
    z-index: 2;
    transform: rotate(315deg) rotateX(-180deg);
}
.ear1 .middle-ear{
    position: relative;
    right: 30px;
    top: 85px;
    width: 79px;
    border-bottom: 30px solid black;
    z-index: 2;
    transform: rotate(71deg);
}
.ear2 .middle-ear{
    position: relative;
    left: 170px;
    bottom: 192px;
    width: 80px;
    border-bottom: 30px solid black;
    z-index: 2;
    transform: rotate(110deg) rotateX(-180deg);
}
.ear1 .middle-ear2{
    position: relative;
    right: 53px;
    top: 27px;
    width: 65px;
    border-bottom: 12px solid black;
    z-index: 2;
    transform: rotate(350deg);
}
.ear2 .middle-ear2{
    position: relative;
    left: 210px;
    bottom: 246px;
    width: 65px;
    border-bottom: 10px solid black;
    z-index: 2;
    transform: rotate(10deg) rotateX(-180deg);
}
.ear1 .middle-ear3{
    position: relative;
    bottom: 3px;
    right: 63px;
    width: 0; 
    height: 0; 
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 21px solid black;
    z-index: 2;
    transform: rotate(347deg);
}
.ear2 .middle-ear3{
    position: relative;
    bottom: 274px;
    left: 210px;
    width: 0; 
    height: 0; 
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 20px solid black;
    z-index: 2;
    transform: rotate(190deg) rotateX(-180deg);
}
.ear1 .top-ear{
    position: relative;
    right: 81px;
    top: 21px;
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid black;
    z-index: 2;
    transform: rotate(270deg);
}
.ear2 .top-ear{
    position: relative;
    left: 235px;
    bottom: 252px;
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid black;
    z-index: 2;
    transform: rotate(275deg) rotateX(-180deg);
}
.ear1 .shine1{
    background: radial-gradient(rgb(20, 9, 49),transparent 80%, transparent);
    position: relative;
    bottom: 30px;
    left: 4px;
    height: 100px;
    width: 20px;
    z-index: 3;
    transform: rotate(160deg);
}
.ear2 .shine1{
    background: radial-gradient(rgb(20, 9, 49),transparent 80%, transparent);
    position: relative;
    bottom: 302px;
    left: 198px;
    height: 100px;
    width: 20px;
    z-index: 3;
    transform: rotate(20deg);
}
.ear1 .shine2{
    background: radial-gradient(rgb(20, 9, 49),transparent);
    position: relative;
    bottom: 146px;
    right: 30px;
    height: 30px;
    width: 20px;
    z-index: 3;
    transform: rotate(110deg);
}
.ear2 .shine2{
    background: radial-gradient(rgb(20, 9, 49),transparent);
    position: relative;
    bottom: 416px;
    left: 230px;
    height: 30px;
    width: 20px;
    z-index: 3;
    transform: rotate(70deg);
}
.top{
    transform: rotate(355deg);
}
/*Body properties*/
.upperbody{
    position: relative;
    bottom: 400px;
    left: 7px;
    width: 80px;/*Anchra*/
    height: 0;
    border-left: 20px solid transparent;/*left*/
    border-right: 20px solid transparent;/*right*/
    border-bottom: 65px solid black;/*Altura*/
    z-index: -1;
}
.lowerbody{
    position: relative;
    bottom: 415px;
    width: 95px;
    height: 90px;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    background: radial-gradient(rgb(20, 9, 49),black 50%, black 100%);
}
.body .shine{
    background: radial-gradient(rgb(20, 9, 49),transparent);
    z-index: 2;
    position: relative;
    bottom: 540px;
    left: 25px;
    height: 36px;
    width: 40px;
    border-radius: 40%
}
.arm1 .bicep{
    position: relative;
    z-index: -2;
    bottom: 570px;
    right: 25px;
    height: 20px;
    width: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: radial-gradient(rgb(20, 9, 49),black 45%);
    transform: rotate(330deg)
}
.arm2 .bicep{
    position: relative;
    z-index: -2;
    bottom: 608px;
    left: 59px;
    height: 20px;
    width: 60px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: radial-gradient(rgb(20, 9, 49),black 45%);
    transform: rotate(230deg);
}
.arm1 .forearm{
    position: relative;
    bottom: 581px;
    right: 68px;
    height: 22px;
    width: 60px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: radial-gradient(rgb(20, 9, 49),black 80%);
    transform: rotate(10deg)
}
.arm2 .forearm{
    position: relative;
    bottom: 624px;
    left: 92px;
    height: 22px;
    width: 60px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: radial-gradient(rgb(20, 9, 49),black 80%);
    transform: rotate(140deg)
}
.leg1 .thigh{
    z-index: -1;
    position: relative;
    bottom: 575px;
    left: 62px;
    background: black 60%;
    width: 60px;
    height: 60px;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
    transform: rotate(90deg);
}
.leg1 .aux-thigh{
    position: relative;
    z-index: -2;
    bottom: 638px;
    left: 32px;
    width: 88px;/*Anchra*/
    height: 0;
    border-left: 14px solid transparent;/*left*/
    border-right: 30px solid transparent;/*right*/
    border-bottom: 50px solid black;/*Altura*/
    transform: rotate(134deg);
}