html body {
  height: 100%;
}

/* #ffc641 eye shadow */
/* #818286 */
/* #ffc641 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  padding: 10px;
  border: solid 1px rebeccapurple;
  padding-top: 50px;
}

.head {
  width: 400px;
  height: 350px;
  border: solid 1px black;
  background: #2e3192
    radial-gradient(circle at 50% 90%, #969aff 20% 30%, #2e3192 95%);
  position: relative;
  border-radius: 25%;
}
.ear {
  width: 100px;
  height: 100px;
  background: #9e1a3f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(45deg);
  z-index: -1;
}
.ear1 {
  right: 350px;
  top: -40px;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.inner-ear1 {
  background: #7e1417;
  width: 80%;
  height: 80%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.inner-ear2 {
  background: #7e1417;
  width: 80%;
  height: 80%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.ear2 {
  left: 350px;
  top: -40px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.eye-shadow {
  box-sizing: border-box;
  background: #ffc641;
  width: 200px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #3d3d3f;
}
.eye-shadow1 {
  left: 15px;
  top: 30px;
}
.eye-shadow2 {
  /* position: absolute; */
  left: 190px;
  top: 30px;
}
.yellow-rag {
  width: 100px;
  height: 141px;
  background: #ffc641;
  position: absolute;
  top: 98px;
  left: 150px;
}
.eyebrow {
  background: #2e3192;
  position: absolute;
  z-index: 1;
}
.eyebrow-1 {
  width: 35px;
  height: 15px;
  border: #3d3d3f solid 2px;
  top: 62px;
  left: 110px;
  transform: rotate(30deg);
}
.eyebrow-2 {
  width: 35px;
  height: 15px;
  border: #3d3d3f solid 2px;
  top: 62px;
  left: 255px;
  transform: rotate(150deg);
}

.eyebrow-3 {
  top: 65px;
  left: 75px;
  width: 50px;
  height: 18px;

  transform: rotate(150deg);
}
.eyebrow-4 {
  width: 50px;
  height: 18px;
  top: 65px;
  left: 280px;
  transform: rotate(30deg);
}
.eye {
  width: 120px;
  height: 200px;
  background: #f38669;
  position: absolute;
}

.eye-1 {
  top: 95px;
  left: 40px;
  padding: 0 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 60%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 30%;

  border-top: 2px solid #3d3d3f;
  border-bottom: 5px solid #3d3d3f;
  border-left: 4px solid #3d3d3f;
  border-right: 1px solid #3d3d3f;
}
.eye-2 {
  top: 95px;
  left: 226px;
  padding: 0 10px;
  border-top-left-radius: 60%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 50%;

  border-top: 0.5px solid #3d3d3f;
  border-bottom: 5px solid #3d3d3f;
  border-left: 2px solid #3d3d3f;
  border-right: 4px solid #3d3d3f;
}

.cornea {
  background: #2e3192;
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 50%;
}

.cornea-1 {
  top: 140px;
  left: 60px;
}
.cornea-2 {
  top: 140px;
  left: 240px;
}

.iris {
  width: 90px;
  height: 90px;
  background: #000;
  position: absolute;
  border-radius: 50%;
}
.iris-1 {
  top: 150px;
  left: 70px;
}
.iris-2 {
  top: 150px;
  left: 250px;
}

.chick {
  background: #818286;
  width: 175px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chick-1 {
  top: 247px;
  left: 236px;
  border-radius: 45%;
  transform: rotate(155deg);
  border-top: 2px solid #3d3d3f;
  border-bottom: 2px solid #3d3d3f;
  border-left: 2px solid #3d3d3f;
}
.chick-2 {
  top: 246px;
  left: -5px;
  border-radius: 45%;
  transform: rotate(25deg);
  border-top: 2px solid #3d3d3f;
  border-bottom: 2px solid #3d3d3f;
  border-left: 2px solid #3d3d3f;
}
.red-dot {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #9e1a3f;
  border-radius: 50%;
  border: #3d3d3f 2px solid;
}
.jaw {
  width: 200px;
  height: 100px;
  background: #818286;
  position: absolute;
  top: 285px;
  left: 105px;
  border-radius: 50%;
  border-bottom: 3px solid #3d3d3f;
}
.lip-down {
  box-sizing: border-box;
  width: 150px;
  height: 70px;
  background: #818286;
  border: 4px solid #3d3d3f;
  position: absolute;
  border-radius: 48%;
  top: 302px;
  left: 131px;
}
.mouth {
  width: 150px;
  height: 70px;
  background: #28282a;
  position: absolute;
  border-radius: 49%;
  top: 290px;
  left: 131px;
}

.tooth {
  background: #ffc641;
  border: #f3a820 3px solid;
  position: absolute;
}

.tooth-1 {
  width: 15px;
  height: 42px;
  top: 287px;
  left: 135px;
  transform: rotate(30deg);
  border-top-left-radius: 70%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 5px;
}
.tooth-2 {
  width: 20px;
  height: 42px;
  top: 298px;
  left: 157px;
  transform: rotate(26deg);
  border-radius: 3px;
}

.tooth-3 {
  width: 20px;
  height: 42px;
  top: 305px;
  left: 182px;

  border-top-left-radius: 70%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotate(10deg);
}
.tooth-4 {
  width: 20px;
  height: 42px;
  top: 305px;
  left: 205px;
  border-top-right-radius: 70%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotate(350deg);
}
.tooth-5 {
  width: 20px;
  height: 42px;
  top: 297px;
  left: 230px;
  transform: rotate(333deg);
  border-radius: 3px;
}
.tooth-6 {
  width: 15px;
  height: 42px;
  top: 282px;
  left: 256px;
  transform: rotate(325deg);
  border-top-right-radius: 70%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 5px;
}

.lip-top {
  box-sizing: border-box;
  width: 150px;
  height: 70px;
  background: #818286;
  border: 4px solid #3d3d3f;
  position: absolute;
  border-radius: 48%;
  top: 256px;
  left: 129px;
}

.patch {
  background: #ffc641;
  position: absolute;
  width: 20px;
  height: 10px;
  top: 326px;
  left: 197px;
}
.mouth-top {
  box-sizing: border-box;
  width: 150px;
  height: 75px;
  background: #818286;
  border: 3px solid #3d3d3f;
  position: absolute;
  border-radius: 48%;
  top: 240px;
  left: 129px;
}
.nose {
  background: #000;
  position: absolute;
  z-index: 2;
}
.nose-1 {
  width: 60px;
  height: 30px;
  border-radius: 50%;
  top: 230px;
  left: 175px;
}
.nose-2 {
  width: 22px;
  height: 32px;
  border-radius: 50%;
  top: 230px;
  left: 172px;
  transform: rotate(45deg);
}
.nose-3 {
  width: 30px;
  height: 15px;
  border-radius: 50%;
  top: 248px;
  left: 190px;
}
.nose-4 {
  width: 22px;
  height: 32px;
  border-radius: 50%;
  top: 230px;
  left: 215px;
  transform: rotate(135deg);
}
.mouth-line {
  width: 2px;
  height: 30px;
  /* background: #000; */
  /* border: #000 solid black; */
  position: absolute;
  top: 252px;
  left: 205px;
  border-bottom: 30px solid #000;
  border-right: 0.1px solid transparent;
  border-left: 0.1px solid transparent;
}

.eye-bag {
  width: 100px;
  height: 130px;
  background: #ffc641;
  position: absolute;
  border-radius: 50%;

  /* border-top-left-radius: 30%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */

  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.eye-bag-1 {
  top: 150px;
  left: 90px;
  border-bottom: #28282a 5px solid;
  border-right: #28282a 2px solid;
  transform: rotate(35deg);
}
.eye-bag-2 {
  top: 150px;
  left: 220px;
  border-bottom: #28282a 5px solid;
  border-left: #28282a 2px solid;
  transform: rotate(325deg);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.body {
  width: 200px;
  height: 230px;
  background: #262262;
  border: #11103b solid 2px;
  position: relative;
  z-index: -1;
}
.shirt {
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  left: 50px;
}
.below-tie {
  width: 60px;
  height: 60px;
  position: absolute;
  transform: rotate(235deg) skew(20deg);
  background: #fff;
  border: 2px solid #28282a;
  top: 30px;
  left: 70px;
  box-shadow: #28282a 1px 2px 5px;
}
.tie-top {
  /* background: #262262; */
  /* border: #262262 solid 2px; */
  width: 20px;
  height: 20px;
  border-top: 10px solid #262262;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 32px;
  left: 82px;
}

.tie {
  box-sizing: border-box;
  width: 20px;
  height: 50px;
  position: absolute;
  background: #262262;
  border: #11103b 2px solid;
  border-bottom: 1px solid transparent;
  top: 40px;
  left: 92px;
}
.neck{
  height: 50px;
  width: 0;
  position: absolute;
}
.neck-1{
  border-top: 2.5em solid #2e3192;
  border-right: 6.5em solid transparent;
  /* border-left: 2em solid transparent; */
  top: 35px;
  left: -15px;
  transform: rotate(60deg);
}
.neck-2{
  border-top: 2.5em solid #2e3192;
  /* border-right: 6.5em solid transparent; */
  border-left: 6.5em solid transparent;
  top: 33px;
  left: 113px;
  transform: rotate(298deg);
}

.bag-top{
  width: 45px;
  height: 6px;
  position: absolute;
  background: #262262;
  border-top: 3px solid #28282a;
  border-right: #28282a 2px solid;
  left: 145px;
  top: 55px;
}
.suit{
  height: 200px;
  background: #262262;
  border-left: #11103b solid 2px;
  border-right: #11103b solid 2px;
  border-bottom: #11103b solid 2px;
  position: absolute;
}
.suit-1{
  width: 100px;
top: 57px;
left: -2px;
border-bottom-right-radius: 35px;
border-bottom-left-radius: 3px;
}
.suit-2{
  width: 98px;
  top: 57px;
  left: 100px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 35px;
}
.patch-b{
  width: 50px;
  height: 20px;
  position: absolute;
  background: #262262;
  top: 80px;
  left: 70px;
}
.patch-w{
  width: 49px;
  height: 31px;
  position: absolute;
  background: #fff;
  top: 50px;
  left: 76px;
}
.bag-bottom{
  width: 60px;
  height: 20px;
  background: #262262;
  border: 2px solid #11103b;
  position: absolute;
  top: 200px;
  left: 10px;
}
.belt{
  width: 130px;
  height: 30px;
  background: #262262;
  border: #11103b solid 2px;
  position: absolute;
  top: 220px;
  left: 30px;
  z-index: -1;
}
.leg{
  background: #262262;
  border: #11103b solid 2px;
  position: absolute;
}
.leg-1{
  width: 80px;
  height: 180px;
  top: 190px;
  left: 10px;
  transform: rotate(10deg);
  z-index: -2;
}
.leg-2{
  width: 80px;
  height: 180px;
  top: 190px;
  left: 109px;
  transform: rotate(350deg);
  z-index: -2;
}

.right-arm-1{
  width: 150px;
  height: 60px;
  background: #262262;
  border: #11103b solid 2px;
  position: absolute;
  top: 430px;
  left: 290px;
  transform: rotate(60deg);
  z-index: -2;
}
.right-arm-2{
  width: 85px;
  height: 50px;
  position: absolute;
  background: #262262;
  border: #11103b solid 2px;
  top: 530px;
  left: 363px;
  transform: rotate(330deg);
  border-bottom-right-radius: 28px;
}
.sleeve{
  height: 50px;
  width: 20px;
  position: absolute;
  top: 557px;
  left: 350px;
  background: #fff;
  transform: rotate(330deg);
  border: 1px solid #28282a;
}
.left-arm{
  width: 60px;
  height: 140px;
  background: #262262;
  border: #11103b solid 2px;
  position: absolute;
  top: 413px;
  left: 110px;
  border-top-left-radius: 35px;
  transform: rotate(10deg);
  z-index: -1;
  border-right: transparent;
}