* {
    padding: 0;
    margin: 0;
}
body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}
.todo {
    position: absolute;
    top: 20px;
    left: 100px;
    margin: auto;
}
.cabeza {
    width: 238px;
    height: 196px;
    position: absolute;
    left: 30px;
    background-color: #F0BF00;
    border-radius: 70px 70px 50px 50px;
}
.pecas {
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 50%
}
.peca1 {
    position: absolute;
    top: 40px;
    left: 239px;
}
.peca2 {
    position: absolute;
    top: 40px;
    left: 218px;
}
.peca3 {
    position: absolute;
    top: 58px;
    left: 228px;
}
.ojos {
    width: 41px;
    height: 41px;
    top: 113px;
    border: 0px solid transparent;
    box-shadow: 0 0 15px #B8A320;
    border-radius: 50%
}
.ojo1 {
    position: absolute;
    left: 60px;
    background: linear-gradient(202deg, transparent 39%, black 0%);
}
.ojo2 {
    position: absolute;
    left: 197px;
    background: linear-gradient(158deg,transparent 39%, black 0%);
}
.cabellos {
    width: 60px;
    height: 86px;
    position: absolute;
    background-color: #606D67;
    border-radius: 0 55px 14px 0
}
.cabello1 {
    top: 33px;
    left: 233px;
}
.cabello2 {
    transform: rotateY(180deg);
    top: 33px;
    left: 4px;
}
.orejas {
    width: 20px;
    height: 30px;
    position: absolute;
    background-color: #C3951B;
    top: 65px;
    left: 30px;
    border-radius: 0 5px 15px 0
}
.patillas {
    width: 18px;
    height: 30px;
    position: absolute;
    background-color: #606D67;
    /*transform: rotateZ(7deg);*/
    border-radius: 0 0 15px 0;
    top: -3px;
    left: -5px;
}
.nariz {
    position: absolute;
    top: 120px;
    left: 130px;
    width: 0; 
    height: 0; 
    border-bottom: 50px solid #F0BF00;;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-radius: 100px;
    box-shadow: 0 5px 5px black;
}
.torax {
    width: 95px;
    height: 140px;
    position: absolute;
    top: 200px;
    left: 104px;
    background-color: #00595A;
    border-radius: 10px 10px 5px 5px;
}
.camisa {
    position: absolute;
    width: 40px;
    height: 60px;
    top: 196px;
    left: 131px;
    background: linear-gradient(to bottom, #5e7e7f, #D7CFC6)
}
.corbata {
    position: absolute;
    
}