html, body{
    margin: 0;
    padding: 0;
    width:100% ;
    height: 100%;
    
}
.main{
    width: 60%;
    height: 80%;
    background-image:url(blue);
    margin:auto;
    padding: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(fondo.png);
}



.cara{
position: relative;
width: 220px;
height: 187px;
/* background-color: #fce502; */
/* background: -webkit-radial-gradient(60px 70px, circle farthest-side, #fce502, rgb(168, 168, 31)); */
border-radius: 35px;
border-top-left-radius: 70px;
border-top-right-radius: 70px;
margin:auto;
background-image: radial-gradient(#fce502 67%, rgb(177, 177, 51));
margin-top: 20%;
margin-left: 296px
}
.ojo-izq{
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: black;
    border-radius: 100px;
    margin-top: 62px;
    margin-left: 38px;


    
}
.ojo-der{
    width: 43px;
    height: 43px;
    background-color: black;
    border-radius: 100px;
    margin-top: 65px;
    margin-left: 136px;
    position: absolute;
    /* background-image:
    radial-gradient(
      circle at top left,
      #ffffff,
      black 50%
    );
} */
}
    

.chachete-der{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    border-radius: 100px;
    float: right;
    margin-top: 126px;
    background-image: radial-gradient(red 33%, rgb(201, 8, 8));
     /* -webkit-transition: background-image 0.8s ease-in-out;  */
    transition: background-image 0.10s linear 0.02s;

}

.cara:hover .chachete-der{
    background-image: radial-gradient(orange 30%, rgb(158, 84, 0));
}
.cara:hover .chachete-izq{
    background-image: radial-gradient(orange 30%, rgb(158, 84, 0));
}

.chachete-izq{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    border-radius: 100px;
    margin-top: 126px;
    position: absolute;
    background-image: radial-gradient(red 33%, rgb(161, 4, 4));
    transition: background-image 0.10s linear 0.02s;

}


.nariz {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin-left: 99px;
    margin-top: 111px;
    position: absolute;
  }

  .boca{
    width: 35px;
    height: 32px;
    background-color:#fb617c;
    border-radius: 100px;
    margin-top: 137px;
    margin-left: 94px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: absolute;
    /* position: absolute; */
  }

  .boca1{
    width: 45px;
    height: 33px;
    background-color:#fce502;
    border-radius: 100px;
    margin-top: -27px;
    /* position: absolute; */
    margin-left: -26px;
    position: absolute;
  }

  .boca2{
    width: 45px;
    height: 33px;
    background-color:#fce502;
    border-radius: 100px;
    margin-top: -28px;
    margin-left: 12px;
    position: absolute;

  }


  

  .oreja1{
    width: 102px;
    height: 150px;
    background-image: radial-gradient(#fce502 51%,rgb(177, 177, 51));
    border-radius: 0 103% / 0 103%;
    margin-top: 69px;
    margin-left: 213px;
    margin-bottom: 15px;
    position: absolute;

    transform: rotate(-18deg);
  
    
    /* background-image: radial-gradient(#fce502 70%, rgb(177, 177, 51)); */
  }

  .oreja2{
  width: 102px;
  height: 150px;
  background-image: radial-gradient(#fce502 51%,rgb(177, 177, 51));
  border-radius: 0 103% / 0 103%;
  margin-top: 207px;
  margin-left: 477px;
  margin-bottom: 15px;
  position: absolute;
  transform: rotate(-80deg);
  animation: ear_anim 4s infinite 0s;
  transform-origin: 0 0;
  /* animation: ear_anim 4s infinite 0s; */
 
  /* background-image: radial-gradient(#fce502 70%, rgb(177, 177, 51)); */

  }

  .cuerpo{
    position: absolute;
    width: 151px;
    height: 100px;
    background: #fce502;
    margin-top: 314px;
    margin-left: 336px;
    border-radius: 0 33% / 0 95%;
    transform: rotate(50deg);
    
}
.brazo1{
    position: absolute;
    width: 96px;
    height: 43px;
    border-radius: 50%;
    background-image: radial-gradient(#fce502 51%,rgb(177, 177, 51));
    margin-top: 372px;
    margin-left: 330px;
    transform: rotate(51deg);
}

.brazo2{
    position: absolute;
    width: 96px;
    height: 43px;
    border-radius: 50%;
    background-image: radial-gradient(#fce502 51%,rgb(177, 177, 51));
    margin-top: 372px;
    margin-left: 403px;
    transform: rotate(123deg);
}

.pansa{
    position: absolute;
    width: 125px;
    height: 137px;
    background: #fce502;
    margin-top: 340px;
    margin-left: 348px;
    border-radius: 35px;
    border-top-left-radius: 60px;
    border-top-right-radius: 70px;
}

.punta1 {
	position: absolute;;
	background-color: black;
    text-align: left;
    margin-top: -3px;
    margin-left:-5px;
    z-index: 1;
    /* animation: ear_anim 4s infinite 0s; */
}
.punta1:before,
.punta1:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.punta1,
.punta1:before,
.punta1:after {
	width:  2em;
	height: 2em;
	border-top-right-radius: 46%;
}

.punta1 {
	transform: rotate(-97deg) skewX(-30deg) scale(1,.866);
}
.punta1:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.punta1:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.punta2 {
	position: absolute;;
	background-color: black;
    text-align: left;
    margin-top: 120px;
    margin-left:73px;
    z-index: 1;
}
.punta2:before,
.punta2:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.punta2,
.punta2:before,
.punta2:after {
	width:  2em;
	height: 2em;
    border-top-right-radius: 46%;
    /* animation: ear_anim 4s infinite 0s; */
}

.punta2 {
	transform: rotate(82deg) skewX(-30deg) scale(1,.866);
}
.punta2:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.punta2:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.colas{
    animation: tailmove 3s ease infinite;
}
.cola1{
    position: absolute;
    width: 0px;
     height: 0px;
     border-right: 78px solid transparent;
     border-top: 115px solid transparent;
     border-left: 43px solid #fce502;
     border-bottom: 33px solid #fce502;
     margin-top: 355px;
    margin-left: 481px;
    transform: rotate(118deg);
    -webkit-transform: rotateZ(-50deg);
      transform: rotateZ(-242deg);
}



.cola2{
    position: absolute;
    width: 80px;
    height: 0;
    border-right: 46px solid transparent;
    border-left: -22px solid transparent;
     border-top: 47px solid #fce502; 
    margin-top: 383px;
    margin-left: 508px;
    transform: rotate(24deg);
   
    /* -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg); */
}
.cola3{
    position: absolute;
    width: 77px;
    height: 11px;
    /* border: 3px solid #fce502; */
    background: #fce502;
     margin-top: 402px;
    margin-left: 459px;
    transform: rotate(142deg);
   
    /* -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); */

}
.pierna1{
    position: absolute;
    margin-top: 330px;
    margin-left: 345px;
    transform: rotate(25deg);
    width: 80px;
    height: 175px;
    background-image: radial-gradient(#fce502 67%, rgb(177, 177, 51));
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.pie1{
    position: absolute;
    width: 24px;
    height: 50px;
    /* -moz-border-radius: 0 94% / 0 101%;
    -webkit-border-radius: 0 50% / 0 100%; */
    border-radius: 0 105% / 0 101%;
    background-image: radial-gradient(#fce502 67%, rgb(177, 177, 51));
    top: 576px;
    left: 606px;
    transform: rotate(-74deg);
}

.pie2{
    position: absolute;
    width: 24px;
    height: 50px;
    border-radius: 0 102% / 0 101%;
    background-image: radial-gradient(#fce502 67%, rgb(177, 177, 51));
    top: 576px;
    left: 731px;
    transform: rotate(-70deg);
}
.pierna2{
     position: absolute;
    margin-top: 335px;
    margin-left: 391px;
    transform: rotate(25deg);
    width: 80px;
    height: 175px;
    transform: rotate(-32deg);
    background-image: radial-gradient(#fce502 67%, rgb(177, 177, 51));
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.pecho1{
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: #fce502;
    border-radius: 100px;
    margin-top: 340px;
    margin-left: 343px;

}

.pecho2{
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: #fce502;
    border-radius: 100px;
    margin-top: 338px;
    margin-left: 441px;
 

}

.ojo-brillo1{
    height: 8px;
    width: 5px;
   
    border-radius: 50%;
    transform: rotate(340deg);
    position: absolute;
    top: 25px;
    left: 11px;
    box-shadow: 18px -8px 15px 5px #fff;
    background-color: rgba(255, 255, 255, -1.55);
}
.ojo-brillo2{
    height: 8px;
    width: 5px;
    background-color: rgba(255, 255, 255, -1.55);
    border-radius: 50%;
    transform: rotate(340deg);
    position: absolute;
    top: 25px;
    left: 11px;
    box-shadow: 18px -8px 15px 5px #fff;
}
/* 
.chachete-der:hover{
    background-color: aliceblue;
    transition:  all 3s ease-in-out;
    cursor: pointer;
}

.cara:hover .chachete-izq{
    background-color: aliceblue;
    transition:  all 3s ease-in-out;
    cursor: pointer;
} */


@keyframes tailmove{
    0%{
      transform: rotateZ(0deg);
    }
    
    50%{
      transform: rotateZ(3deg);
    }
    
    100%{
      transform: rotateZ(0deg);
    }
  }

@keyframes ear_anim {

	0% { 
        transform: rotate(-80deg) ;
     
	}

	3% {
		transform: rotate(-80deg))
	}

	6% {
		transform: rotate(-70deg) 
	}

	10% {
		transform: rotate(-80deg) 
	}

	95% {
		transform: rotate(-80deg)
	}

	100% {
		transform: rotate(-70deg) 
	}  



