html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.casco {
    width: 350px;
   height: 150px; 
    border: 1px solid #c49a38;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(to right, #b58322, #c59f4c, #d2b75c, #c49a38);
    z-index: 1;
}

.insignia {
    width: 50px;
    height: 50px;
    border: 1px solid #7b4509;
    margin-top: 100px;
    position: absolute;
    background: linear-gradient(to right, #c49a38, #ceaa4c, #ab7012, #a8621a);
    transform: rotate(45deg) skew(15deg, 15deg);
    z-index: 8;
}

.insignia2 {
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #c49a38, #ceaa4c, #ab7012, #a8621a);
    border: 1px solid #7b4509;
    margin-top: 110px;
    position: absolute;
    transform: rotate(45deg) skew(15deg, 15deg);
    z-index: 9;
}

.rectangulo {
    position: absolute; 
    height: 25px; 
    width: 125px; 
    background: linear-gradient(to right, #c49a38, #ceaa4c, #ab7012, #a8621a); 
    transform: rotate(90deg); 
    border: 1px solid #7b4509;
    margin-top: 50px;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    z-index: 3;
}

.triangulo1 {
    transform: rotate(285deg) skew(295deg); 
    border-right: 50px solid transparent; 
    border-left: 35px solid transparent; 
    border-top: 47px solid #577494; 
    position: absolute;
    left: 622px; 
    margin-top: 75px;
    z-index: 2;
     
}

.triangulo2 {
    transform: rotate(72deg) skew(65deg); 
    border-right: 47px solid transparent; 
    border-left: 35px solid transparent; 
    border-top: 50px solid #577494; 
    position: absolute;
    right: 622px; 
    margin-top: 78px;
    z-index: 2;
}

.cara {
    width: 350px;
    height: 200px;
    border: 1px solid rgb(118, 113, 152);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
     background: linear-gradient(to right,#a293ca, #a994d7, #b4a2dc, #654181);
    margin-top: 150px;
    z-index: 0;
}

.ojo1 {
    box-sizing: border-box;
    width: 95px;
    height: 30px;
    transform: rotate(5deg);
    border-radius: 0% 50%/ 0% 100%; 
    border-image:  linear-gradient(#4a151f, #75172f, #641727, #692436);;
    position: absolute;
    background: linear-gradient(#4a151f, #75172f, #641727, #692436);
    box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.80);
    margin-top: 165px;
    margin-left: -80px;
    z-index: 6;
    animation: shineeye1 7s both;
}

.ojo1som {
    box-sizing: border-box;
    width: 95px;
    height: 30px;
    transform: rotate(5deg) scale(1.3,1.2);
    border-radius: 0% 50%/ 0% 100%; 
    border: 3px solid #000;
    position: absolute;
    background: #000;
    margin-top: 165px;
    margin-left: -80px;
    z-index: 5;
}

.ojo2 {
    box-sizing: border-box;
    width: 25px;
    height: 95px;
    transform: rotate(85deg);
    border-radius: 0% 100%/ 0% 50%; 
    border-image: linear-gradient(#4a151f, #75172f, #641727, #692436);
    position: absolute;
    background: linear-gradient(to right, #4a151f, #75172f, #641727, #692436);
    box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.80);
    margin-top: 135px;
    margin-left: 75px;
    z-index: 6;
    animation: blink2 2s both;
    /*animation: shineeye2 3s;*/
}

.ojo2som {
    box-sizing: border-box;
    width: 25px;
    height: 95px;
    transform: rotate(85deg)  scale(1.5,1.2);
    border-radius: 0% 100%/ 0% 50%; 
    border: 3px solid #000;
    position: absolute;
    background: #000;
    /*box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.80);*/
    margin-top: 135px;
    margin-left: 75px;
    z-index: 5;
}

.nariz {
    transform: rotate(32deg) skew(125deg); 
    border-left: 30px solid transparent; 
    border-right: 25px solid transparent; 
    border-bottom: 30px solid #000; 
    position: absolute;
    margin-top: 220px;
    z-index: 6;
}

.nariz2 {
   transform: rotate(334deg) skew(240deg); 
    border-left: 30px solid transparent; 
    border-right: 25px solid transparent; 
    border-bottom: 30px solid #000; 
    position: absolute;
    margin-top: 218px;
    z-index: 6;
}

.risa,
.risa:before,
.risa:after {
  position: absolute;
  display:block;
    width:  38px;
    height: 38px;
    background: #000;
    border-top-right-radius: 20px;
    
    
}
.risa {
  margin: 60px auto 0 auto;
  transform: rotate(120deg) skewX(30deg) scale(.1,.1);
  position: absolute;
    z-index: 10;
    margin-top: 280px;
    margin-left: 30px;
    animation: smile1 3s both;
}

.risa:before,
.risa:after {
    content: '';
    position: absolute;
}
.risa:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.risa:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.risa2,
.risa2:before,
.risa2:after {
  position: relative;
  display:block;
    width:  35px;
    height: 35px;
    background: #fff;
    border-top-right-radius: 20px;
    z-index: 19;
    
}
.risa2 {
  margin: 60px auto 0 auto;
  transform: rotate(120deg) skewX(30deg) scale(.1,.1);
  position: absolute;
    z-index: 11;
    margin-top: 280px;
    margin-left: 30px;
    animation: smile 3s both;

}

.risa2:before,
.risa2:after {
    content: '';
    position: absolute;
}
.risa2:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.risa2:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.risa3,
.risa3:before,
.risa3:after {
  position: absolute;
  display:block;
    width:  38px;
    height: 38px;
    background: #000;
     background: #a293ca;
    border-top-right-radius: 20px;
}

.risa3 {
  margin: 60px auto 0 auto;
  transform: rotate(120deg) skewX(30deg);
  position: absolute;
     z-index: 9;
    margin-top: 280px;
    margin-left: 30px;

}

.risa3:before,
.risa3:after {
    content: '';
    position: absolute;
}
.risa3:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.risa3:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.dientes {
    width: 45px;
    position:absolute;
    margin-top: 285px;
    margin-left: 20px;
}
/*
.diente1 {
    position: absolute;
    z-index: 15;
    transform: scale(1.5, 1);
    width: 100%;
    height:30px;
    outline:0px solid #a293ca;
    background: linear-gradient(-45deg, transparent 75%, #a293ca 75%),
                linear-gradient( 45deg, transparent 75%, #a293ca 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:30px 30px, 30px 30px;
    animation: smalls .5s both;
}

.diente2 {
    position: absolute;
    z-index: 14;
    transform: scale(1.5, 1);
    width: 100%;
    height:30px;
    margin-top: 5px;
    border-top: 0px solid #000;
    background: linear-gradient(-45deg, transparent 75%, #000 75%),
                linear-gradient( 45deg, transparent 75%, #000 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:30px 30px, 30px 30px;
    animation: small1 .5s both;
    
}
.diente3 {
    position: absolute;
    z-index: 13;
    transform: scale(1.5, 1);
    width: 100%;
    height:5px;
    background-color: #000;
    animation: small2 .5s both;
}
*/
.cuerpo {
    position: absolute;
    width: 200px;
    border-width: 150px 43px 0;
    border-style: solid;
    border-color: #161d2d transparent;
    margin-top: 350px;
    /*border-image: linear-gradient(to right, #253147, #334867, #141c2f, #192030 );*/
}

.cuerpo:after {
    transform: rotate(180deg);
    content: "";
    position: absolute;
    left: 0px;
    border-width: 0 100px 54px;
    border-style: solid;
    border-color: transparent transparent #161d2d;
}

.pecho {
    position: absolute;
    width: 150px;
    border-width: 50px 43px 0;
    border-style: solid;
    border-color: #b58322 transparent;
    margin-top: 350px;    
    z-index: 16;

}

.pecho1 {
    position: absolute;
    width: 20px;
    border-width: 25px 33px 0;
    border-style: solid;
    border-color: #b58322 transparent;
    margin-left: 35px;
    z-index: 17;
}

.pecho2 {
    position: absolute;
    width: 20px;
    border-width: 25px 33px 0;
    border-style: solid;
    border-color: #b58322 transparent;
    margin-top: 25px;
    margin-left: 35px;
    z-index: 17;
}

.pecho3 {
    position: absolute;
    width: 20px;
    border-width: 25px 33px 0;
    border-style: solid;
    border-color: #b58322 transparent;
    margin-top: 50px;
    margin-left: 35px;
    z-index: 17;
}

.cinturon {
    width: 20px;
    height: 20px;
    background: #b58322;
    position: absolute;
    margin-top: 90px;
    margin-left: 35px;
    z-index: 17;
}

.cinturon:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
    border-width: 0 29px 29px;
    border-style: solid;
    border-color: #b58322 blue blue;
    width: 15px;
    height: 0;
}

.cinturon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 29px 29px 0;
    border-style: solid;
    border-color: #b58322 blue blue;
    width: 15px;
    height: 0;
  }

.cuello {
    position: absolute;
    width: 50px;
    border-width: 25px 43px 0;
    border-style: solid;
    border-color: #161d2d transparent;
    margin-top: 350px;    
    z-index: 17;
}

.brazo {
    transform: rotate(40deg);
    position: absolute;
    width: 130px;
    height: 60px;
    border-radius: 50%;
    background: #161d2d;
    margin-top: 380px;
    margin-left: 165px;
}

.antebrazo {
    transform: rotate(100deg);
    position: absolute;
    width: 130px;
    height: 60px;
    border-radius: 50%;
    background: #161d2d;
    margin-top: 360px;
    margin-left: 215px;
}

.guante,
.guante:before,
.guante:after {
  position: relative;
  display:block;
    width:  38px;
    height: 38px;
    background: #ab7012;
    border-top-right-radius: 20px;
        
    
}
.guante {
  margin: 60px auto 0 auto;
  transform: rotate(70deg) skewX(-30deg) scale(1.3,1.3) ;
  position: absolute;
    z-index: 10;
    margin-top: 340px;
    margin-left: 235px;
     
}

.guante:before,
.guante:after {
    content: '';
    position: absolute;
}
.guante:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.guante:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.mano {
    position: absolute;
    width: 20px; 
    border-radius: 100px; 
    border-top: 70px solid #ab7012; 
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent; 
    margin-top: 280px;
    margin-left: 230px;
    transform: rotate(10deg) skewX(0deg) scale(1.3,1.3) ;
     
    
}

.dedo1 {
    transform: rotate(150deg);
    position: absolute;
    width: 60px;
    height: 32px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 305px;
    margin-left: 268px;
    z-index: 20;
    
}

.dedo6 {
    transform: rotate(68deg);
    position: absolute;
    width: 58px;
    height: 28px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 285px;
    margin-left: 198px;
    z-index: 20;
   
}

.dedo2 {
     transform: rotate(120deg);
    position: absolute;
    width: 60px;
    height: 32px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 285px;
    margin-left: 270px;
    z-index: 20;
  
}

.dedo3 {
     transform: rotate(140deg);
    position: absolute;
    width: 60px;
    height: 32px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 273px;
    margin-left: 242px;
    z-index: 20;

}

.dedo4 {
    transform: rotate(130deg);
    position: absolute;
    width: 60px;
    height: 32px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 270px;
    margin-left: 223px;
    z-index: 20;
     
}

.dedo5 {
    transform: rotate(120deg);
    position: absolute;
    width: 60px;
    height: 32px;
    border-radius: 50%;
    background: #ab7012;
    margin-top: 265px;
    margin-left: 208px;
    z-index: 20;
        
}

.gema1 {
    transform: rotate(150deg);
    position: absolute;
    width: 20px;
    height: 11px;
    border-radius: 50%;
    background: #0f6f29;
    margin-top: 3px;
    margin-left: 6px;
    z-index: 20;
    animation: shine1 6s infinite;
}

.gema2 {
    transform: rotate(170deg);
    position: absolute;
    width: 20px;
    height: 11px;
    border-radius: 50%;
    background: #b62865;
    margin-top: 8px;
    margin-left: 12px;
    z-index: 20;
    animation: shine2 6s infinite;
}

.gema3 {
    transform: rotate(155deg);
    position: absolute;
    width: 20px;
    height: 11px;
    border-radius: 50%;
    background: #154b6e;
    margin-top: 8px;
    margin-left: 10px;
    z-index: 20; 
    animation: shine3 6s infinite;
}

.gema4 {
    transform: rotate(160deg);
    position: absolute;
    width: 20px;
    height: 11px;
    border-radius: 50%;
    background: #9d421b;
    margin-top: 8px;
    margin-left: 8px;
    z-index: 20; 
    animation: shine4 6s infinite;
}

.gema5 {
    transform: rotate(175deg);
    position: absolute;
    width: 20px;
    height: 11px;
    border-radius: 50%;
    background: #bf4e17;
    margin-top: 10px;
    margin-left: 9px;
    z-index: 20;
    animation: shine5 6s infinite;
}

.gema6 {
    transform: rotate(110deg);
    position: absolute;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background: #dc6e1e;
    margin-top: 300px;
    margin-left: 230px;
    z-index: 20;
    animation: shine6 6s infinite;
}

.chasquido{
    position: absolute;
    width: 200px;
    height:200px;
    background: #ab7012;
    opacity: 0;
    margin-top: 230px;
    margin-left: 230px;
    border-radius: 50%;
    animation: glover 10s infinite;
    
}



@keyframes shine6 {
    from {
        background: #dc6e16;

        background: #dc6e1e
    }
    to {
         box-shadow: 0 0 5px #eebb10,
		0 0 10px #f7cc34,
		0 0 20px #f5b823,
		0 0 40px #e18d10,
		0 0 80px #e9ab14,
		0 0 90px #eb7b31,
		0 0 100px #e56530,
		0 0 140px #d6612f,
        0 0 180px #dc5c36;
        
        background: radial-gradient(ellipse, #eebb10, #f7cc34, #f5b823, #e18d10, #e9ab14, #eb7b31, #e56530, #d6612f, #dc5c36);
    }
}

@keyframes shine5 {
    from {
        background: #bf4e17;
    }
    to {
         box-shadow: 0 0 5px #fac76e,
		0 0 10px #ecba57,
		0 0 20px #f9be53,
		0 0 40px #eb9630,
		0 0 80px #d56318,
		0 0 90px #c15718,
		0 0 100px #b14e18,
		0 0 140px #b55115,
        0 0 180px #8a4114;
        
        background: radial-gradient(ellipse,#fac76e, #ecba57, #f9be53, #eb9630, #d56318, #c15718, #b14e18, #b55115, #8a4114);
    }
}

@keyframes shine4 {
    from {
       background: #9d421b;
    }
    to {
         box-shadow: 0 0 5px #f6d14d,
		0 0 10px #f8cb40,
		0 0 20px #dd7d1a,
		0 0 40px #d03b15,
		0 0 80px #c9371a,
		0 0 90px #d2461c,
		0 0 100px #c73514,
		0 0 140px #d33b23,
        0 0 180px #c63a1d;
        
        background: radial-gradient(ellipse,#f6d14d, #f8cb40, #dd7d1a, #d03b15, #c9371a, #d2461c, #c73514, #d33b23, #c63a1d);
    }
}

@keyframes shine3 {
    from {
       background: #154b6e;
    }
    to {
         box-shadow: 0 0 5px #b6e5f9,
		0 0 10px #74c7f2,
		0 0 20px #43b5da,
		0 0 40px #1eaede,
		0 0 80px #067da8,
		0 0 90px #1174a1,
		0 0 100px #175379,
		0 0 140px #17466c,
        0 0 180px #233f52;
        
        background: radial-gradient(ellipse,#b6e5f9, #74c7f2, #43b5da, #1eaede, #067da8, #1174a1, #175379, #17466c, #233f52);
    }
}

@keyframes shine2 {
    from {
       background: #b62865;
    }
    to {
         box-shadow: 0 0 5px #e8a0c1,
		0 0 10px #f7a9c8,
		0 0 20px #e390af,
		0 0 40px #e675a5,
		0 0 80px #e4669b,
		0 0 90px #e4649b,
		0 0 100px #ca4a80,
		0 0 140px #a82259,
        0 0 180px #881e4f;
        
        background: radial-gradient(ellipse, #e8a0c1, #f7a9c8, #e390af, #e675a5, #e4669b, #e4649b, #ca4a80, #a82259, #881e4f);
    }
}

@keyframes shine1 {
    from {
        background: #0f6f29;
    }
    to {
         box-shadow: 0 0 5px #c9dcb5,
		0 0 10px #b7daa7,
		0 0 20px #b5d18a,
		0 0 40px #95c776,
		0 0 80px #6eb058,
		0 0 90px #3fa63b,
		0 0 100px #1ea23e,
		0 0 140px #1a9039,
        0 0 180px #194a21;
        
        background: radial-gradient(ellipse, #c9dcb5, #b7daa7, #b5d18a, #95c776, #6eb058, #3fa63b, #1ea23e, #1a9039, #194a21);
    }
}

@keyframes shineeye1 {
    from {
        background: linear-gradient(#4a151f, #75172f, #641727, #692436);
    }
    to {
         box-shadow: 0 0 5px #8a5b73,
		0 0 10px #83475a,
		0 0 20px #8c637c,
		0 0 40px #733544,
		0 0 80px #6f2e3f,
		0 0 90px #6b2232,
		0 0 100px #6a1932,
		0 0 140px #641930,
        0 0 180px #59112a;
        
        background: linear-gradient(to left,#8a5b73, #83475a, #8c637c, #733544, #6f2e3f, #6b2232, #6a1932, #641930, #59112a);
    }
}

@keyframes shineeye2 {
    from {
        background: linear-gradient(#4a151f, #75172f, #641727, #692436);
    }
    to {
         box-shadow: 0 0 5px #8a5b73,
		0 0 10px #83475a,
		0 0 20px #8c637c,
		0 0 40px #733544,
		0 0 80px #6f2e3f,
		0 0 90px #6b2232,
		0 0 100px #6a1932,
		0 0 140px #641930,
        0 0 180px #59112a;
        
        background: linear-gradient(to top, #8a5b73, #83475a, #8c637c, #733544, #6f2e3f, #6b2232, #6a1932, #641930, #59112a);
    }
}

@keyframes blink2 {
    0% {
        width: 25px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    10% {
        width: 20px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    20% {
        width: 15px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    30% {
        width: 10px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    40% {
        width: 5px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    50% {
        width: 0px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    60% {
        width: 5px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    70% {
        width: 10px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    80% {
        width: 15px;
         background: linear-gradient(to left, #4a151f, #75172f, #641727, #692436);
    }

    90% {
        width: 20px;
         background: linear-gradient(to top, #4a151f, #75172f, #641727, #692436);
    }

    100% {
        width: 25px;
         box-shadow: 0 0 5px #8a5b73,
		0 0 10px #83475a,
		0 0 20px #8c637c,
		0 0 40px #733544,
		0 0 80px #6f2e3f,
		0 0 90px #6b2232,
		0 0 100px #6a1932,
		0 0 140px #641930,
        0 0 180px #59112a;
        background: linear-gradient(to top, #8a5b73, #83475a, #8c637c, #733544, #6f2e3f, #6b2232, #6a1932, #641930, #59112a);
    }
}

@keyframes smile1 {

    0% {
        transform: rotate(120deg) skewX(30deg) scale(0, 0);
    }

    20% {
       transform: rotate(120deg) skewX(30deg) scale(.3, .4);
    }

    40% {
        transform: rotate(120deg) skewX(30deg) scale(.5, .8);
    }

    60% {
        transform: rotate(120deg) skewX(30deg) scale(.6, 1.2);
    }

    80% {
        transform: rotate(120deg) skewX(30deg) scale(.7, 1.4);
    }

    100% {
       transform:  rotate(120deg) skewX(30deg)scale(.8, 2);
    }
}

@keyframes smile {
    0% {
        transform: rotate(120deg) skewX(30deg) scale(0, 0);
    }

    20% {
       transform: rotate(120deg) skewX(30deg) scale(.3, .4);
    }

    40% {
        transform: rotate(120deg) skewX(30deg) scale(.5, .8);
    }

    60% {
        transform: rotate(120deg) skewX(30deg) scale(.6, 1.2);
    }

    80% {
        transform: rotate(120deg) skewX(30deg) scale(.7, 1.4);
    }

    100% {
       transform:  rotate(120deg) skewX(30deg) scale(.8, 2);
    }
}

@keyframes glover {
    from {
        transform: scale(.1, .1);
        opacity: .0;
        background: #ab7012;
    }
    to {
        transform: scale (2, 2);
        opacity: 1;
        background-image: radial-gradient(circle, #fac76e, #ecba57, #f9be53, #eb9630, #d56318, #c15718, #b14e18, #b55115, #8a4114);
    box-shadow: 0 0 5px #fac76e,
		0 0 10px #ecba57,
		0 0 20px #f9be53,
		0 0 40px #eb9630,
		0 0 80px #d56318,
		0 0 90px #c15718,
		0 0 100px #b14e18,
		0 0 140px #b55115,
        0 0 180px #8a4114;
    }
}
/*
@keyframes smalls {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity:0;
}
}

@keyframes small1 {
    0% { opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: .8;
    }

    100% {
        opacity:0;
}
}

@keyframes small2 {
   0% { opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: .8;
    }

    100% {
        opacity:0;
}
}

*/

