/* Generals */
body {
    font-family: 'Oswald', sans-serif;
    background-color: black
}
a:visited {
    color: black;
}

/* Main header */
.header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 1px 20px rgb(161, 95, 87);
    text-underline-position: under;
    background-color: cadetblue;
    border-radius: 0px 20px 20px 0px;
}

/* Summary */
.menu {
    padding: 20px 250px 20px 150px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 20px;
    font-size: 18px;
    border-radius:20px;
    background-color: #37524d;
    color: black;
    text-align: right;
    float: right;
}
ol {
    list-style: none; 
    margin: 80px 30px 30px 30px;

}
.logo {
    margin: 30px 30px 30px 500px;
    padding: 50px;
    border-radius: 50%;
    width: 336px;
    opacity: 0.5;
    float: left;
}

/* Articles */
.article_section{
    padding: 20px 80px 20px 20px;
    border-radius: 0px 20px 20px 0px;
    width: 100%;
    border-width: 10px;
    text-align: right;
    background-color: aliceblue;
    float: right;
}
.main_article {
    color: teal;
}
