body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-direction: row;
}
.contenedor-main{
    display: flex;
    height: 100%;
    width: 100%;
   
}
.panel-izquierdo{
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    border-right: 2px rgb(230, 236, 240) solid;
    font-size: 19px;
}

.panel-central{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color:white;
    border-right: 2px rgb(230, 236, 240) solid;
    font-family: sans-serif;

}
.panel-derecho{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: white;
    font-family: sans-serif;
}
.panel-izquierdo ul{
  list-style: none;
}
.logo{
    width: 15%;
    margin-left: 5%;
    margin-top: 5%;
}
button{
    border-radius: 100px;
    background-color: #1da1f2;
    border:none;
    height: 37px;
    width: 83px;
    align-self: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 5px


}

.button-izquierdo{

    border-radius: 100px;
    background-color: #1da1f2;
    border:none;
    height: 43px;
    width: 214px;
    align-self: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 5px

}
li{
    margin-bottom: 34px;
    font-family: sans-serif;
    font-weight: bold;

}
 nav li i{
    margin-right: 15px;
}
.icons li i{
    margin-right: 50px;
}
.div-publicacion{
    width: 100%;
    height:6%;
    font-family: sans-serif;
    font-size: 14px;
    
 
}
.div-publicacion1{
    width: 100%;
    height: 15%;
    border-top: 2px #e6ecf0 solid;
    margin-bottom: 10px;

  
    
}

.div-publicacion1 p{
    font-family: sans-serif;
    color:#cbdbe6;
   

}

.publicacion{
    width: 100%;
    height: 23%;
    border-top: 10px rgb(230, 236, 240) solid;
  
    
}

.div-foto{
    width: 100%;
    height: 60%;
    border-top: 2px rgb(230, 236, 240) solid;
  
}
.div-foto img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
}
.div-final{
    width: 100%;
    height: 15%;
    border-top: 2px rgb(230, 236, 240) solid;
    

}

.panel-derecho input{
    border-radius: 50px;
    width: 290px;
    height:32px;
    margin-top: 17px;
    margin-left: 31px;
    border: none;
    background-color: #e6ecf0;
    text-align: center;
}

 h3{
    margin-left: 12px;
    margin-top: 8px;
}


.fa-angle-down{
    float: right;
    margin-right: 6px;
}
.fa-user-circle{
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;

}
div.div-publiacion ,.fa-user-circle{
    float: left;
    margin-top: 8px;
}
.fa-star{
    float: right;
    margin-right: 5px;
}
div img{
    width: 50%
}
.icons ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
  

}
.icons li{
    float: left;
}

.icons i{
    display: block;
    padding: 12px 50px;
}

.panel-aside{
    height: 90%;
    background-color:  #eff4f7;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    
}
.panel-aside h3, h4, p{
    margin-left: 13px;
}
.fa-cog{
    float:right;
    margin-right: 8px;
    color: #1da1f2;
}
.news{
    border-top: 3px rgb(230, 236, 240) solid;
    height:40%;
    width: 100%;
}
.div-space{
    width: 95%;
    height: 50%;
    border: 2px solid rgb(230, 236, 240);
    border-radius: 28px;
    margin:auto;
}
.fa-home{
    color: #1da1f2;
}
.div-treding{
    border-top: 3px rgb(230, 236, 240) solid;
    height:40%;
    width: 100%;
}