html , body{
    height: 95%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
.nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
    width: 20%;
    height: 100%;
    padding-top: 20px;
    justify-content: flex-start;
    font-size: 20px;
}
.nav ul li:first-child {
    font-size: 25px;
    color: #1da1f2;
    line-height: 30px;
}
.nav ul{
    list-style: none;
    padding: 0;
}
.nav ul  li{
margin-bottom: 20px;
display: flex;
flex-direction: row;
align-items: center;
margin-left: 2px;    
}
.nav li:hover{
    color: #1da1f2;
}
.nav ul li div {
    text-align: center;
    margin-right: 20px;
    width: 25px
}

.nav ul li a {
    align-self: center;
    text-decoration: none;
    color: black;
    margin-left: 2px;
}
.nav ul li a:hover{
    color: #1da1f2;
}
.nav .tweet-button{
    box-shadow: 10px 24px 16px -17px rgba(0,0,0,0.75);
}
.tweet-button{
    width: 80%;
    background-color: #1da1f2;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    border: #1da1f2 solid 1px;
    padding: 10px;
    line-height: 18px;
    margin-left: 10px;
    
}
.tweet-button:hover{
    background: #006dbf;
    cursor: pointer;
}

.main{
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: content-box;
    border-left: 2px solid #ccc;
}
.main i{
    font-size: 20px
}
.new-tweet{
    width: 100%;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 15px solid #ccc;
}
.new-tweet h1{
    padding-left: 10px;
    margin: 5px;
}
.new-tweet > div:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.new-tweet i{
    margin-right: 10px;
    color: #1da1f2;
}
.new-tweet div:nth-child(2){
    width: 100%;
    padding: 10px;
}
.text-box{

    display: flex;
    align-items: center;
}
.new-tweet .sprite{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.new-tweet input{
    width: 90%;
    height: 100%;
    align-self: center;
    height: 32px;
    border: none;
    margin-left: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons div{
    margin-left: 8%;
}
.buttons button{
    width: 18%;
    margin-right: 10px;
    height: 100%;
}
.tweet-content{
    display: flex;
    flex-flow: column wrap;
    font-size: 16px;
    width: 100%;
}
.tweet-content article{
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 10px;
}
.tweet-content article div:first-child {
    display: inline-block;
    border: black solid1 1px;
    width: 10%;
    position: relative;
}

.tweet-content article div:nth-child(n+2){
    align-self: center;
    width: 90%;
}
.option{
    width: 80%;
    padding: 5px 0;
    
}
.option a{
    text-decoration: none;
    color: black;
    margin-right: 18%;
    justify-content: space-between;
}
.option a:hover{
    color: #1da1f2;
}
.mute-color{
    color: rgb(151, 138, 138);
}
.mute {
    color: rgb(151, 138, 138);
    font-size: 12px
}
.bold{
    font-weight: bold;
}
.link{
    color: #1da1f2;
    text-decoration: none;
}
.link:hover{
text-decoration: underline;
cursor: pointer;
}

.sprite {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: auto;

}
.sprite img {
    width: 100%;
    margin: auto;
    border-radius: 50%;
}
.picture{
    width: 90%;
    margin-right: 10px;
    border-radius: 10px;
}
.options{
    color: rgb(151, 138, 138);
    width: 10%;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 500px;
}
.options:hover{
    color: #1da1f2;
    cursor: pointer;
}

.aside {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-left: 2px solid #ccc;
    padding: 0 10px;
    
}
.aside input{
    width: 90%;
    border-radius: 100px;
    border: #e7edf0 solid 1px;
    color: #6a7d8a;
    padding: 5px 0;
    padding-left: 30px;
    background: #e7edf0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconS{
    position: relative;
    width: 90%;
}
.iconS i{
    color: #6a7d8a;
    position: absolute;
    top: 15px;
    left: 10px;
}
.trends{
    background: #f5f8fa;
    border-radius: 20px;
    padding: 0 5px;
    width: 90%;
    font-size: 14px;
}
.trends h2{
    margin: 5px;
}
.trends div:nth-child(-n+5){
    border-bottom: 1px solid #ccc;
    /* display: flex;
    flex-flow: row wrap; */
}
.trends div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trends i{
    color: #1da1f2;
}
.trends i:hover{
    cursor: pointer;
}

.trends div figure{
    font-size: 12px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 10px;
    border: solid 1px #ccc;
    height: 60px;
    width: 90%;
    margin: auto;
}
.trends div figure img{
    width: 50%;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.trends div figure figcaption{
    padding: 10px;
}